.hero-container {
    background-color: white;
    display: flex;
    justify-content: center;
}
.content-container {
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
    align-items: center;
    height: 600px;
    padding-left: 80px;
    padding-right: 80px;
    line-height: 1.2;
    background-color: white;
}

.my-face {
    height: 80%;
    /* width: auto; */
    object-fit: contain;
}
